/* Fonts */
@font-face {
    font-family: Raleway;
    src:url(../assets/Raleway-Medium.ttf);
}

* {
    font-family: 'Roboto', Raleway, sans-serif;
}

/* Containers */
.rowContainer {
    margin-left: 15%;
    margin-right: 2%;
}

.title {
    margin: 5px;
    font-size: 1.2rem;
    font-weight:700;
}

.desc {
    margin: 5px;
    font-size: 1rem;
}

/* Regular Phones */
@media (min-width: 320px) and (max-width: 549px) {
    * {
        font-size: 18px;
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;
    }
}

/* Ipads or small screen sizes */
@media (min-width:550px) and (max-width: 767px) {
    * {
        font-size: 21px;
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;
    }
}

/* Medium Screen Size */
@media (min-width:768px) and (max-width: 992px) {
    * {
        font-size: 18px;
    }
}


/* Large Screen Size */
@media (min-width: 993px) {
    * {
        font-size: 18px;
    }
}

