/* News Container CSS */

.newsContainer {
    margin-left: 7%;
}

.newsItem {
    padding: 2%;
    margin-bottom: 3%;
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    border-radius: 8px;
}

.newsHeader {
    color: White;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: rgb(133, 133, 133);
    border: 1.5px solid black;
    border-radius: 10px;
}

.date {
    font-size: .8rem;
    margin-left: 5px;
}

.desc span {
    font-size: .9rem;
    line-height: .8;
    margin-bottom: 4px;
    padding-bottom: 10px;
}

.title {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.title:hover {
    color: rgb(63, 63, 63);
    transition: color 0.1s ease;
}

/* News Details CSS */

.adminBtn {
    background-color: rgb(247, 165, 42);
    border: 0px solid rgb(255, 153, 0);
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    font-size: 1rem;
}

.titleEdit {
    padding-right: 20px;
    width: 65%;
}

.descEdit {
    font-size: 1rem;
    width: 99%;
}

/* Change Log CSS */

.changelogContainer {
    padding: 10px 5px 0px 5px;
}

.changelogItem {
    background-color: white;
    margin: 5%;
    border: 2px solid black;
    border-radius: 6px;
}

.changeTitle {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

.newChangeTitle {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: .9rem;
    font-weight: 700;
    color: black;
}

.newChangeDesc {
    margin-left: 10px;
    max-height: 10%;
    padding: 5px;
}

.newChangeDesc span {
    font-size: .85rem;
    line-height: 1;
}

/* Medium Screen Size */
@media (min-width:768px) and (max-width: 992px) {
    .title {
        font-size: 1.1rem;
    }

    .desc {
        font-size: .9rem;
    }

    .changelogItem {
        margin: 0px;
    }

    .newsContainer {
        margin-left: 0px;
    }

    .newChangeTitle {
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }

    .changelogContainer {
        padding: 10px 2px 0px 2px;
    }
}

/* Ipads or small screen sizes */
@media (max-width: 767px) {

    .title {
        font-size: 1.1rem;
    }

    .changelogItem {
        margin: 5px 0px 20px 0px;
    }

    .desc {
        font-size: .7rem;
    }

    .newsContainer {
        margin-left: 0px;
    }

    .newChangeTitle {
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }

    .changelogContainer {
        padding: 5px 2px 0px 2px;
    }

    .adminBtn {
        font-size: .9rem;
        padding: 5px 15px 5px 15px;
    }

    .titleEdit {
        width: 95%;
    }

    .descEdit {
        font-size: .8rem;
    }

    .newChangeTitle {
        font-size:.9rem;
    }

    .newChangeDesc span {
        font-size: .75rem;
        line-height: 1;
    }
}