/* News Container CSS */

.newsContainer {
    margin-left: 7%;
}

.newsItem {
    padding: 2%;
    margin-bottom: 3%;
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    border-radius: 8px;
}

.newsHeader {
    color: White;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: rgb(133, 133, 133);
    border: 1.5px solid black;
    border-radius: 10px;
}

.date {
    font-size:.8rem;
    margin-left:5px;
}

.desc h2 {
    line-height: .8;
    margin-bottom: 4px; /* Try different values */
    padding-bottom:10px;
}


/* Change Log CSS */

.changelogContainer {
    padding: 10px 5px 0px 5px;
}

.changelogItem {
    background-color: white;
    margin: 5%;
    border: 2px solid black;
    border-radius: 6px;
}

.changeTitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

.newChangeTitle {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 700;
    color: black;
}

.newChangeDesc {
    margin-left: 10px;
    font-size: .8rem;
    max-height: 10%;
    padding: 5px;
}

.newChangeDesc h2 {
    line-height: .8;
    margin-bottom: 4px; /* Try different values */
    padding-bottom:10px;
}


/* Medium Screen Size */
@media (min-width:768px) and (max-width: 992px) {
    .title {
        font-size: 1.1rem;
    }

    .desc {
        font-size: .9rem;
    }

    .changelogItem {
        margin: 0px;
    }

    .newsContainer {
        margin-left: 0px;
    }

    .newChangeTitle {
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }

    .newChangeDesc {
        font-size: .8rem;
    }

    .changelogContainer {
        padding: 10px 2px 0px 2px;
    }
}

/* Ipads or small screen sizes */
@media (max-width: 767px) {

    .title {
        font-size: 1.1rem;
    }

    .changelogItem {
        margin: 5px 0px 20px 0px;
    }

    .desc {
        font-size: .7rem;
    }

    .newsContainer {
        margin-left: 0px;
    }

    .newChangeTitle {
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }

    .newChangeDesc {
        font-size: .7rem;
    }

    .changelogContainer {
        padding: 5px 2px 0px 2px;
    }
}